<% if product_line.valid? %>
<table class="product-line table">
  <caption><%= product_line.name %></caption>
  <thead>
    <% product_line.product_line_event_types.each do |plet| %>
      <%= event_header(plet) %>
    <% end %>
  </thead>
  <tbody>
    <% product_line.report.each do |event_type,plates| %>
      <td>
      <% plates.each do |plate| %>
        <%= render_plate(plate,event_type) %>
      <% end %>
      </td>
    <% end %>
  </tbody>
</table>
<% else %>
  <div class="alert alert-danger" role="alert">
  <h2><%= t('.alert_title') %></h2>
  <p><%= t('.alert_summary',name:product_line.name ) %>
  <ul>
  <% product_line.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
  <%= link_to t('.alert_button'), edit_dashboard_path(product_line.dashboard), class:'btn btn-danger btn-sm', role:'button' %>
  <p>
  </div>
<% end %>
